body {
    background-color: #222;
    margin: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    width: 400px;
    height: 600px;
    background-color: #eee;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    overflow-y: auto;
}

.item {
    width: 80%;
    height: 100px;
    background-color: #444;
    margin: 5px 0;
    font-size: 20px;
    font-family: 'JetBrains Mono Medium', sans-serif;
    color: #eee;
    padding: 10px;
}
